<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Finance_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!-- DispatcherServlet by Spring plays the role of front controller in SpringMVC
       According to MVC design pattern,there are two types of controllers
       (Front Controller and Application  Controller)
       FrontController will be only one per application
       This Servlet will be the one which will handle any incoming request from client and 
       route it to the respective application specific controller for further processing
        -->
  <servlet>
      <servlet-name>mvc</servlet-name>
      <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>mvc</servlet-name>
      <url-pattern>*.lti</url-pattern>
   </servlet-mapping>
</web-app>